<h2>What Is Kikaros?</h2>
<p>Kikaros is an experiment. An experiment to create a new search user experience.</p>
<p>One upon a time Google was great. Even more than great. But times have changed. The web got crowded and the evil forces of SEO took control of our world. <br />
Take a moment and take a look on how you use Google. For 80% - 90% of the searches we mostly click on results that direct us to the same sites. For example: If I'm looking for a travel review I'm very likely to go and click on a result from Trip Advisor. If I'm a programmer looking for help with some code I will go head for results from Stack Overflow.
So if this is true, why do we need all the clatter of everything else?
</p>
<p>Kikaros is an experiment trying to do to search what hacker news done to blogs. It's an experiment in trying to create a social, curated search experiment. So please join us in making Kikaros better. Feel free to suggest a new site (just don't forget to read our <%= link_to "community guidelines", guidelines_path %> first) or just tell us what you think about this idea.
</p>