<h2>Community Guidelines</h2>
<p>The goal of Kikaros is to try and give all of us a better more intelligent search experience. In order for that to happen we need your help submitting sites you believe are worth searching on. <br />
But in order to keep Kikaros useful we also depend on all of us minimizing the amount of noise and using the site for the greater good of everyone. As such, here are a few simple guidelines you should follow when submitting a site:
</p>
<ul>
	<li>Submit sites that give you value over a long time period and not just once or twice</li>
	<li>Try to now submit your own site or sites you work for and want to promote</li>
	<li>If you want to submit a site for a category that doesn't exist, please contact us and we will add the category for you</li>
</ul>
<p>Please note that at this time, site submissions will be moderated before going live. The moderation process consists of looking at which sites were submitted the most amount of time, and their fit to the proposed category
</p>
