<div id="footer">
<ul class="navigation round">
<li>A<a href="http://www.deathstarlabs.com">Death Star Labs</a>Experiment @2011</li>
<li><%= link_to "About", about_path %>
<li><%= mail_to "contact@deathstarlabs.com", "Contact" %>
</ul>
</div>